In [1]:
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt
house_data = pd.read_csv('./data/house_data_final.csv', low_memory=False)
house_data.head()

,URL,Adresse,Pris,Type,Energimærke,Ejerudgift,Boligydelse,Anvendelse,Boligtype,Enhedsareal,...,Boligenhed uden eget køkken,Matrikelnummer,Kommunal ejerlav navn,Grundstørrelse,Lands ejerlav kode,Vejareal,Lands ejerlav navn,Primær matrikel,Ejendomsnummer,Kommunal ejerlav kode
0,https://www.boliga.dk/bolig/1729667/annebergpa...,Annebergparken 997 st 4500 Nykøbing Sj,395655,Andelsbolig,NaN,NaN,4708,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,https://www.boliga.dk/bolig/1729730/fiskeparke...,Fiskeparken 25 Snaptun 7130 Juelsminde,295000,Andelsbolig,C,NaN,6374,Fritliggende enfamiliehus,Egentlig beboelseslejlighed boligenhed med ege...,111,...,0.0,11be,ØSTRUP BY GLUD,9924.0,1100452.0,245.0,ØSTRUP BY GLUD,J,16078.0,NaN
2,https://www.boliga.dk/bolig/1729669/annebergpa...,Annebergparken 997 st 4500 Nykøbing Sj,395655,Andelsbolig,NaN,NaN,4708,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,https://www.boliga.dk/bolig/1729668/annebergpa...,Annebergparken 997 st 4500 Nykøbing Sj,395655,Andelsbolig,NaN,NaN,4708,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,https://www.boliga.dk/bolig/1729682/fermparken...,Fermparken 1B 8860 Ulstrup,195000,Andelsbolig,C,NaN,6104,Række kæde eller dobbelthus lodret adskillelse...,Egentlig beboelseslejlighed boligenhed med ege...,105,...,0.0,30u,VELLEV BY VELLE,14120.0,791455.0,0.0,VELLEV BY VELLEV,J,16026.0,NaN

In [2]:
house_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38537 entries, 0 to 38536
Data columns (total 42 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   URL                          38520 non-null  object
 1   Adresse                      38515 non-null  object
 2   Pris                         38496 non-null  object
 3   Type                         38450 non-null  object
 4   Energimærke                  32518 non-null  object
 5   Ejerudgift                   37743 non-null  object
 6   Boligydelse                  725 non-null    object
 7   Anvendelse                   38348 non-null  object
 8   Boligtype                    38342 non-null  object
 9   Enhedsareal                  38342 non-null  object
 10  Beboelsesareal               38330 non-null  object
 11  Værelser                     38330 non-null  object
 12  Antal toiletter              38329 non-null  object
 13  Badeforhold                  37671 non-null  object
 14  Antal badeværelser           38326 non-null  object
 15  Køkkenforhold                37659 non-null  object
 16  Energikode                   14450 non-null  object
 17  Toiletforhold                37668 non-null  object
 18  Bygningsnummer               38325 non-null  object
 19  Ydervæg                      38323 non-null  object
 20  Tag                          38323 non-null  object
 21  Etager                       38324 non-null  float64
 22  Carport                      38324 non-null  object
 23  Seneste ombygning            38323 non-null  object
 24  Udhus                        38323 non-null  float64
 25  Boligstørrelse BBR           38323 non-null  object
 26  Objekt status                38323 non-null  object
 27  Boligstørrelse tinglyst      38323 non-null  float64
 28  Afvigende etager             38323 non-null  object
 29  Boligstørrelse               38323 non-null  float64
 30  Boligenhed med eget køkken   38323 non-null  object
 31  Varmeinstallation            38316 non-null  object
 32  Boligenhed uden eget køkken  38321 non-null  float64
 33  Matrikelnummer               33461 non-null  object
 34  Kommunal ejerlav navn        33460 non-null  object
 35  Grundstørrelse               33460 non-null  float64
 36  Lands ejerlav kode           33460 non-null  float64
 37  Vejareal                     33460 non-null  float64
 38  Lands ejerlav navn           33460 non-null  object
 39  Primær matrikel              33460 non-null  object
 40  Ejendomsnummer               33460 non-null  float64
 41  Kommunal ejerlav kode        4649 non-null   object
dtypes: float64(9), object(33)
memory usage: 12.3+ MB

In [ ]:
house_data.describe()

In [ ]:
house_data.info()
house_data['Pris'] = pd.to_numeric(house_data['Pris'], errors='coerce')
house_data['Værelser'] = pd.to_numeric(house_data['Værelser'], errors='coerce')
house_data['Antal toiletter'] = pd.to_numeric(house_data['Antal toiletter'], errors='coerce')
house_data['Antal badeværelser'] = pd.to_numeric(house_data['Antal badeværelser'], errors='coerce')
house_data['Ejerudgift'] = pd.to_numeric(house_data['Ejerudgift'], errors='coerce')
house_data['Enhedsareal'] = pd.to_numeric(house_data['Enhedsareal'], errors='coerce')
house_data['Beboelsesareal'] = pd.to_numeric(house_data['Beboelsesareal'], errors='coerce')
house_data['Boligstørrelse BBR'] = pd.to_numeric(house_data['Boligstørrelse BBR'], errors='coerce')

In [ ]:
data = house_data
data.drop(['Matrikelnummer',
           'Kommunal ejerlav navn',
           'Lands ejerlav kode',
           'Vejareal',
           'Lands ejerlav navn',
           'Primær matrikel',
           'Ejendomsnummer',
           'Kommunal ejerlav kode',
           'Varmeinstallation',
           'Afvigende etager',
           'Objekt status',
           'Anvendelse',
           'Boligtype',
           'Badeforhold',
           'Køkkenforhold',
           'Boligenhed med eget køkken',
           'Boligenhed uden eget køkken',
           'Energikode',
           'Toiletforhold',
           'Ydervæg',
           'Tag',
           'Boligydelse',
           'Bygningsnummer',
           'Boligstørrelse tinglyst'], 'columns', inplace=True)
data

In [ ]:
data.info()

In [ ]:
villa_data = data[data['Type'] == 'Villa']

In [ ]:
# Find missing values in the data and drop those rows:
print('rows before drop n/a',len(villa_data))
bool_matrix = villa_data.isnull() # dataframe with True and False values for each cell in the villa_data
only_null_filter = bool_matrix.any(axis=1) # is there a True value in any column in each row. returns a pandas Series with index matching index of villa dataframe
missing = villa_data[only_null_filter] # show all rows that has one or more null values
villa_data = villa_data.dropna()
print('rows after',len(villa_data))
#pd.options.display.max_rows = None # let me see all rows in the dataframe (can be used with columns too)
#villa_data
#bool_matrix

In [ ]:
villa_data.info()

In [ ]:
villa_data.columns

In [ ]:
villa_data.describe()

In [ ]:
sb.pairplot(villa_data, vars=['Pris', 'Beboelsesareal', 'Boligstørrelse', 'Boligstørrelse BBR', 'Grundstørrelse'])
#sb.pairplot(villa_data, vars=['Pris', 'Beboelsesareal', 'Værelser', 'Antal toiletter', 'Antal badeværelser', 'Boligstørrelse', 'Boligstørrelse BBR', 'Grundstørrelse'])

In [ ]:
villa_data.corr()

In [ ]:
sb.heatmap(villa_data.corr(), annot=True)

In [ ]:
test = villa_data[villa_data['Antal toiletter'] > 9]
#est = villa_data[villa_data['Værelser'] > 15]
test = villa_data['Boligstørrelse BBR']
test

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
X = villa_data[['Ejerudgift', 'Enhedsareal',
       'Beboelsesareal','Antal toiletter', 'Antal badeværelser',
       'Etager', 'Carport', 'Boligstørrelse BBR', 'Grundstørrelse']]
y = villa_data['Pris']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.40, random_state=101)

lm = LinearRegression()
lm.fit(X_train, y_train)

coeff_df = pd.DataFrame(lm.coef_, X.columns, columns=['Coefficient'])

In [ ]:
coeff_df

In [ ]:
lm.score(X, y)

In [ ]:
predictions = lm.predict(X_test)

In [ ]:
plt.scatter(y_test, predictions)

In [ ]:
sb.displot((y_test-predictions), bins=50)